@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #1F1F1F;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 738px;
}

button{
    width: 75px;
    height: 75px;
}


#calculator{
    display: flex;
    flex-direction: column;
    width: 420px; 
    height: 550px;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    gap: 0px;
    border-radius: 15px;
    /* background-color: #3F3F37;  */
    background-color: #2D2D2A; 
}

#display-container{
    color: #de541e;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    width: 301px;
    height: 55px;
    border-radius: 5px;
    background-color: #1e2229;
    border-bottom: 0px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

#currentOperationDisplay{
    font-size: 25px;
    text-align: center;
    /* border: 2px solid red; */
    width: 300px;
}



#buttons-container{
    display: flex;
    border: 0px solid black;
    border-radius: 5px;
    border-top: 0px;
}


#number-container{
    border: 0px solid red;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


#last-row-container{
    display: flex;
}

#operations-container{
    display: flex;
    flex-direction: column;
}

#equal{
    flex: 1;

}
#zero{
    flex: 1;
}

#erase, #clear, #equal{
    background-color: #878472;
    border: 1px solid black;
    border-radius: 5px;
}

.number{
    background-color: #D6D6B1;
    border: 1px solid black;
    border-radius: 5px;
}

.operations,#point{
    background-color: #DE541E;
    border: 1px solid black;
    border-radius: 5px;
}



/* all square buttons -> width = x / height = y
zero button = width = 2x / height = y
equal button = width = 1x / height = 2y */

#zero, #one, #four, #seven, #erase{
    border-left: 2px solid black;
}

#zero, #point, #equal{
    border-bottom: 2px solid black;
}



.bar, .star, #clear, #equal{
    border-right: 2px solid black;
}

.plus, .minus, #clear, #erase{
    border-top: 2px solid black;
}